<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="PushToTeamsAPi" value="https://capgemini.webhook.office.com/webhookb2/3e857c63-4ebd-463e-bcbe-8c49d1e3c44f@76a2ae5a-9f00-4f6b-95ed-5d33d77c4d61/IncomingWebhook/5227b4a267334dfba60b94133f45fa8d/e4855eca-1884-478e-9c9b-79f64d71ce8b" />
		</settings>
		<pipelines>
			<PushToTeams>
				<processor type="Sitecore.PushToTeams.Pipeline.PushToTeamsPipeLine, Sitecore.PushToTeams" />
			</PushToTeams>
		</pipelines>
	</sitecore>
</configuration>